# 포매팅 1

In [ ]:
month=6
day=7
s="오늘은 %d월 %d일 입니다."%(month,day)
print(s)

In [ ]:
month=6
day=22
s="오늘은 %d월 %d일 입니다."%(month,day)
print(s)

포매팅 2

In [ ]:
month=9
day=10
s="오늘은 {}월 {}일 입니다.".format(month,day)
print(s)

# f-string

In [ ]:
month=7
day=7
s=f"오늘은 {month}월 {day}일 입니다."
print(s)

In [ ]:
x=10
y=20
plus=sum([x,y])
print(f"{x}과 {y}의 합은 {plus}입니다.")

# 자주 사용하는 문자열 함수

In [ ]:
s="오늘 점심 메뉴는 중식 수제 탕수육입니다. 저는 탕수육을 좋아해서 탕수육을 많이 먹고싶습니다. 탕수육!"

In [ ]:
s.count("탕수육")

In [ ]:
s="    오늘 점심 메뉴는 중식 수제 탕수육입니다.    저는 탕수육을 좋아해서 탕수육을 많이 먹고싶습니다.   탕수육!"
s.strip()

In [ ]:
s="오늘 점심 메뉴는 중식 수제 탕수육입니다. 저는 탕수육을 좋아해서 탕수육을 많이 먹고싶습니다. 탕수육!"
s.replace("탕수육","깐풍기")

In [ ]:
s="    오늘 점심 메뉴는 중식 수제 탕수육입니다.    저는 탕수육을 좋아해서 탕수육을 많이 먹고싶습니다.   탕수육!"
s.split(".")

In [ ]:
num1=10
num2=7
print(num1/num2)
print(num1%num2)
print(num1//num2)

In [ ]:
str1="Hi,"
str2="Nice to meet you."
print(str1+str2)

In [ ]:
str1="10"
str2='7'
print(str1+str2)

In [ ]:
num1=10
num2=6
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

In [ ]:
num=input("정수 입력>>")

In [1]:
num1=int(input("정수를 입력하세요 >>"))
num2=int(input("정수를 입력하세요 >>"))
print("더하기 결과 : ",num1+num2)
print("빼기 결과 : ",num1-num2)
print("곱하기 결과 : ",num1*num2)
print("나누기 결과 : ",num1/num2)

정수를 입력하세요 >>3
정수를 입력하세요 >>7
더하기 결과 :  10
빼기 결과 :  -4
곱하기 결과 :  21
나누기 결과 :  0.42857142857142855

In [7]:
num1=int(input("python 점수 입력 >> "))
num2=int(input("머신러닝 점수 입력 >> "))
num3=int(input("딥러닝 점수 입력 >> "))
plus=num1+num2+num3
aver=plus/3
print(f"합계 : {plus}")
print(f"평균 : {aver}")
print("합계 : {}".format(plus))
print("평균 : {}".format(aver))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >> 60
합계 : 240
평균 : 80.0
합계 : 240
평균 : 80.0

In [23]:
time=int(input("시간 입력 >> "))
hour=int(time/3600)
#hour=(time//3600)
minute=int((time-hour*3600)/60)
#minute=((time%3600)//60)
second=int(time-((hour*3600)+(minute*60)))
#second=(time%3600)%60
print("{}시간 {}분 {}초".format(hour,minute,second))

시간 입력 >> 1123
0시간 18분 43초

In [24]:
s="안녕하세요"
print(s*2)

안녕하세요안녕하세요

In [33]:
print('*'*5,"연산하기",'*'*5)
num1=int(input("정수입력 >> "))
num2=int(input("정수입력 >> "))
cal=input("+연산자 입력 >> ")
print("{} {} {} = {}".format(num,cal,num2,num1+num2))

***** 연산하기 *****
정수입력 >> 10
정수입력 >> 20
+연산자 입력 >> +
10 + 20 = 30

In [34]:
num1=int(input("정수 입력 >> "))
power=int(input("지수 입력 >> "))
print(f"{num1}의 {power}승은 {num1**power}")

정수 입력 >> 2
지수 입력 >> 3
2의 3승은 8

In [35]:
a,b=4,7
a==b

False

In [37]:
print(a!=b)

True

In [54]:
import random
a=random.randint(1,10)
b=random.randint(1,10)
print(f"a:{a}, b:{b}")

print(a<b)
print(a>b)
print(a==b)
print(a!=b)

a:1, b:1
False
False
True
False

In [56]:
a=3
b=7
not a==b

True

In [58]:
print(3>5 and 10==20)
print(3>5 and 10<20)
print(3<5 and 10<20)

False
False
True

In [59]:
print(3>5 or 10==20)
print(3>5 or 10<20)
print(3<5 or 10<20)

False
True
True

In [62]:
score=50

"합격"if score >= 60 else "불합격"

'불합격'

In [74]:
num1=int(input("정수입력 >> "))
num2=int(input("정수입력 >> "))
print("num1: ",num1) if num1>num2 else print("num2 : ",num2 )

정수입력 >> 5
정수입력 >> 7
num2 :  7

In [77]:
num1=int(input("첫번쨰 정수입력 >> "))
num2=int(input("두번째 정수입력 >> "))
print("두수의 차 : ",num1-num2) if num1>num2 else print("두수의 차: ", num2-num1)

첫번쨰 정수입력 >> 33
두번째 정수입력 >> 5
두수의 차 :  28

In [79]:
num1=int(input("첫번쨰 정수입력 >> "))
num2=int(input("두번째 정수입력 >> "))
print("두수의 차 : ",abs(num1-num2))

첫번쨰 정수입력 >> 5
두번째 정수입력 >> 7
두수의 차 :  2

In [81]:
num=int(input("정수입력 >> "))
print(num,'은 짝수입니다.')if num%2==0 else print(num,'은 홀수입니다.')

정수입력 >> 22
22 은 짝수입니다.